@import url(https://fonts.googleapis.com/css?family=Damion+Sail);

body{
  font-family: Sail; 
  background-image: url(https://images.unsplash.com/photo-1494916877069-563181a7060f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=2dcedb0f7b95d93c148be384e5a333cc);
  
background-repeat: no-repeat;
background-size: cover;
  
}
.row{
  border: 3px white solid;
  border-radius: 5px;
  padding: 10px;
  margin: 5px auto;
  width: 60%;
  height: 80px;
}
.btn{
  font-size: 10px;
  heigh: 15px;
  position: relative;
  right: -80%;
}
h1{
  font-size: 30px;
}

img{
  width: 50px;
  border-radius: 50%;
}

.footer>h3{
  font-size: 20px;
}